{{> header}}
  <body>
    <div class="container">
      <h1>add article</h1>

    {{> navbar}}
            <form action="/users/add-article" method="post">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                  >Title</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="title"
                  placeholder="Title"
                />
              
                </div>
              </div>
              <div class="mb-3">
               <div class="form-floating">
  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" name="description"></textarea>
  <label for="floatingTextarea2">Description</label>
</div>
              </div>
              <div class="mb-3 form-check"></div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        

        </div>


    </div>
  {{>footer}}
